@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">L'examen final de claver Akpaki</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mon examen</h2>
        <p>
           J'ai eu à utiliser une base de donnée à partir de laquelle j'ai utilisé Entity Framework pour générer les classes c#
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Voir les menus</h2>
        <p>Dans le menu de cette pge vous pourrez consulter  la table des livres en vente.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
   
</div>